-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: keperawatan
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `tabel_assessment`
--

DROP TABLE IF EXISTS `tabel_assessment`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tabel_assessment` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `id_perawat` bigint(20) DEFAULT NULL,
  `id_kompetensi` bigint(20) DEFAULT NULL,
  `asesor` bigint(20) DEFAULT NULL,
  `nilai` decimal(5,2) DEFAULT NULL,
  `status` varchar(50) DEFAULT NULL,
  `catatan` text DEFAULT NULL,
  `tanggal` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `id_perawat` (`id_perawat`),
  KEY `id_kompetensi` (`id_kompetensi`),
  CONSTRAINT `tabel_assessment_ibfk_1` FOREIGN KEY (`id_perawat`) REFERENCES `tabel_perawat` (`id_perawat`) ON DELETE CASCADE,
  CONSTRAINT `tabel_assessment_ibfk_2` FOREIGN KEY (`id_kompetensi`) REFERENCES `tabel_kompetensi` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tabel_assessment`
--

LOCK TABLES `tabel_assessment` WRITE;
/*!40000 ALTER TABLE `tabel_assessment` DISABLE KEYS */;
/*!40000 ALTER TABLE `tabel_assessment` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tabel_jabatan`
--

DROP TABLE IF EXISTS `tabel_jabatan`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tabel_jabatan` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `nama_jabatan` varchar(100) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tabel_jabatan`
--

LOCK TABLES `tabel_jabatan` WRITE;
/*!40000 ALTER TABLE `tabel_jabatan` DISABLE KEYS */;
INSERT INTO `tabel_jabatan` VALUES (1,'tes');
/*!40000 ALTER TABLE `tabel_jabatan` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tabel_jenjang_jabatan`
--

DROP TABLE IF EXISTS `tabel_jenjang_jabatan`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tabel_jenjang_jabatan` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `nama_jenjang` varchar(100) NOT NULL,
  `kategori_pendidikan` varchar(50) NOT NULL,
  `profesi` varchar(50) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=13 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tabel_jenjang_jabatan`
--

LOCK TABLES `tabel_jenjang_jabatan` WRITE;
/*!40000 ALTER TABLE `tabel_jenjang_jabatan` DISABLE KEYS */;
INSERT INTO `tabel_jenjang_jabatan` VALUES (1,'Terampil','D3','Perawat'),(2,'Mahir','D3','Perawat'),(3,'Madya','D3','Perawat'),(4,'Ahli Pertama','S1','Perawat'),(5,'Ahli Muda','S1','Perawat'),(6,'Ahli Madya','S1','Perawat'),(7,'Terampil','D3','Bidan'),(8,'Mahir','D3','Bidan'),(9,'Madya','D3','Bidan'),(10,'Ahli Pertama','S1','Bidan'),(11,'Ahli Muda','S1','Bidan'),(12,'Ahli Madya','S1','Bidan');
/*!40000 ALTER TABLE `tabel_jenjang_jabatan` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tabel_kompetensi`
--

DROP TABLE IF EXISTS `tabel_kompetensi`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tabel_kompetensi` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `kode_kompetensi` varchar(50) NOT NULL,
  `nama_kompetensi` varchar(200) NOT NULL,
  `kategori` varchar(100) DEFAULT NULL,
  `unit` varchar(100) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=14 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tabel_kompetensi`
--

LOCK TABLES `tabel_kompetensi` WRITE;
/*!40000 ALTER TABLE `tabel_kompetensi` DISABLE KEYS */;
/*!40000 ALTER TABLE `tabel_kompetensi` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tabel_kredensial`
--

DROP TABLE IF EXISTS `tabel_kredensial`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tabel_kredensial` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `id_perawat` bigint(20) DEFAULT NULL,
  `status` varchar(50) DEFAULT NULL,
  `tanggal` datetime DEFAULT NULL,
  `masa_berlaku` date DEFAULT NULL,
  `catatan` text DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `id_perawat` (`id_perawat`),
  CONSTRAINT `tabel_kredensial_ibfk_1` FOREIGN KEY (`id_perawat`) REFERENCES `tabel_perawat` (`id_perawat`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tabel_kredensial`
--

LOCK TABLES `tabel_kredensial` WRITE;
/*!40000 ALTER TABLE `tabel_kredensial` DISABLE KEYS */;
/*!40000 ALTER TABLE `tabel_kredensial` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tabel_pelatihan`
--

DROP TABLE IF EXISTS `tabel_pelatihan`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tabel_pelatihan` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `id_perawat` bigint(20) DEFAULT NULL,
  `nama_pelatihan` varchar(200) NOT NULL,
  `penyelenggara` varchar(200) DEFAULT NULL,
  `tanggal_mulai` date DEFAULT NULL,
  `tanggal_selesai` date DEFAULT NULL,
  `jumlah_jam` int(11) DEFAULT NULL,
  `no_sertifikat` varchar(100) DEFAULT NULL,
  `file` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `id_perawat` (`id_perawat`),
  CONSTRAINT `tabel_pelatihan_ibfk_1` FOREIGN KEY (`id_perawat`) REFERENCES `tabel_perawat` (`id_perawat`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tabel_pelatihan`
--

LOCK TABLES `tabel_pelatihan` WRITE;
/*!40000 ALTER TABLE `tabel_pelatihan` DISABLE KEYS */;
/*!40000 ALTER TABLE `tabel_pelatihan` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tabel_pendidikan`
--

DROP TABLE IF EXISTS `tabel_pendidikan`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tabel_pendidikan` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `id_perawat` bigint(20) DEFAULT NULL,
  `pendidikan` varchar(100) DEFAULT NULL,
  `institusi` varchar(150) DEFAULT NULL,
  `tahun_lulus` year(4) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `id_perawat` (`id_perawat`),
  CONSTRAINT `tabel_pendidikan_ibfk_1` FOREIGN KEY (`id_perawat`) REFERENCES `tabel_perawat` (`id_perawat`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tabel_pendidikan`
--

LOCK TABLES `tabel_pendidikan` WRITE;
/*!40000 ALTER TABLE `tabel_pendidikan` DISABLE KEYS */;
/*!40000 ALTER TABLE `tabel_pendidikan` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tabel_pengajuan_sertifikasi`
--

DROP TABLE IF EXISTS `tabel_pengajuan_sertifikasi`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tabel_pengajuan_sertifikasi` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `id_perawat` bigint(20) DEFAULT NULL,
  `jenis_sertifikasi` varchar(100) NOT NULL,
  `status` varchar(50) DEFAULT 'Pending',
  `tanggal_pengajuan` date DEFAULT NULL,
  `detail_kompetensi` text DEFAULT NULL,
  `file_pendukung` varchar(255) DEFAULT NULL,
  `form_data` longtext DEFAULT NULL,
  `jadwal_ujian` datetime DEFAULT NULL,
  `status_ujian` varchar(50) DEFAULT 'Belum',
  `nilai_ujian` decimal(5,2) DEFAULT NULL,
  `durasi_ujian` int(11) DEFAULT 120,
  `detail_jawaban_ujian` text DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `id_perawat` (`id_perawat`),
  CONSTRAINT `tabel_pengajuan_sertifikasi_ibfk_1` FOREIGN KEY (`id_perawat`) REFERENCES `tabel_perawat` (`id_perawat`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8 COLLATE=utf8_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tabel_pengajuan_sertifikasi`
--

LOCK TABLES `tabel_pengajuan_sertifikasi` WRITE;
/*!40000 ALTER TABLE `tabel_pengajuan_sertifikasi` DISABLE KEYS */;
/*!40000 ALTER TABLE `tabel_pengajuan_sertifikasi` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tabel_perawat`
--

DROP TABLE IF EXISTS `tabel_perawat`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tabel_perawat` (
  `id_perawat` bigint(20) NOT NULL AUTO_INCREMENT,
  `nip` varchar(50) NOT NULL,
  `nama` varchar(150) NOT NULL,
  `tempat_lahir` varchar(100) DEFAULT NULL,
  `tanggal_lahir` date DEFAULT NULL,
  `jk` char(1) DEFAULT NULL,
  `alamat` text DEFAULT NULL,
  `hp` varchar(20) DEFAULT NULL,
  `email` varchar(100) DEFAULT NULL,
  `profesi` varchar(50) DEFAULT NULL,
  `unit_kerja` varchar(100) DEFAULT NULL,
  `jabatan` varchar(100) DEFAULT NULL,
  `pendidikan_terakhir` varchar(100) DEFAULT NULL,
  `no_ijazah` varchar(100) DEFAULT NULL,
  `grup` varchar(50) DEFAULT NULL,
  `status` char(1) DEFAULT NULL,
  `foto` varchar(255) DEFAULT NULL,
  `file_str` varchar(255) DEFAULT NULL,
  `no_str` varchar(100) DEFAULT NULL,
  `masa_berlaku_str` date DEFAULT NULL,
  `file_sip` varchar(255) DEFAULT NULL,
  `no_sip` varchar(100) DEFAULT NULL,
  `masa_berlaku_sip` date DEFAULT NULL,
  `id_user` bigint(20) DEFAULT NULL,
  PRIMARY KEY (`id_perawat`),
  KEY `fk_perawat_user` (`id_user`),
  CONSTRAINT `fk_perawat_user` FOREIGN KEY (`id_user`) REFERENCES `tabel_user` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=502 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tabel_perawat`
--

LOCK TABLES `tabel_perawat` WRITE;
/*!40000 ALTER TABLE `tabel_perawat` DISABLE KEYS */;
/*!40000 ALTER TABLE `tabel_perawat` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tabel_riwayat_kerja`
--

DROP TABLE IF EXISTS `tabel_riwayat_kerja`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tabel_riwayat_kerja` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `id_perawat` bigint(20) DEFAULT NULL,
  `posisi` varchar(100) NOT NULL,
  `instansi` varchar(150) NOT NULL,
  `tahun_masuk` year(4) DEFAULT NULL,
  `tahun_keluar` year(4) DEFAULT NULL,
  `deskripsi` text DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `id_perawat` (`id_perawat`),
  CONSTRAINT `tabel_riwayat_kerja_ibfk_1` FOREIGN KEY (`id_perawat`) REFERENCES `tabel_perawat` (`id_perawat`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tabel_riwayat_kerja`
--

LOCK TABLES `tabel_riwayat_kerja` WRITE;
/*!40000 ALTER TABLE `tabel_riwayat_kerja` DISABLE KEYS */;
/*!40000 ALTER TABLE `tabel_riwayat_kerja` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tabel_sertifikat`
--

DROP TABLE IF EXISTS `tabel_sertifikat`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tabel_sertifikat` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `id_perawat` bigint(20) DEFAULT NULL,
  `nama_sertifikat` varchar(200) NOT NULL,
  `nomor` varchar(100) DEFAULT NULL,
  `tgl_terbit` date DEFAULT NULL,
  `tgl_expired` date DEFAULT NULL,
  `file` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `id_perawat` (`id_perawat`),
  CONSTRAINT `tabel_sertifikat_ibfk_1` FOREIGN KEY (`id_perawat`) REFERENCES `tabel_perawat` (`id_perawat`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tabel_sertifikat`
--

LOCK TABLES `tabel_sertifikat` WRITE;
/*!40000 ALTER TABLE `tabel_sertifikat` DISABLE KEYS */;
/*!40000 ALTER TABLE `tabel_sertifikat` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tabel_soal`
--

DROP TABLE IF EXISTS `tabel_soal`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tabel_soal` (
  `id_soal` bigint(20) NOT NULL AUTO_INCREMENT,
  `id_kompetensi` varchar(50) DEFAULT NULL,
  `pertanyaan` text DEFAULT NULL,
  `opsi_a` text DEFAULT NULL,
  `opsi_b` text DEFAULT NULL,
  `opsi_c` text DEFAULT NULL,
  `opsi_d` text DEFAULT NULL,
  `opsi_e` text DEFAULT NULL,
  `jawaban_benar` char(1) DEFAULT NULL,
  PRIMARY KEY (`id_soal`)
) ENGINE=InnoDB AUTO_INCREMENT=121 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tabel_soal`
--

LOCK TABLES `tabel_soal` WRITE;
/*!40000 ALTER TABLE `tabel_soal` DISABLE KEYS */;
/*!40000 ALTER TABLE `tabel_soal` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tabel_unit_kerja`
--

DROP TABLE IF EXISTS `tabel_unit_kerja`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tabel_unit_kerja` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `nama_unit` varchar(100) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tabel_unit_kerja`
--

LOCK TABLES `tabel_unit_kerja` WRITE;
/*!40000 ALTER TABLE `tabel_unit_kerja` DISABLE KEYS */;
INSERT INTO `tabel_unit_kerja` VALUES (2,'Instalasi SIMRS');
/*!40000 ALTER TABLE `tabel_unit_kerja` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tabel_user`
--

DROP TABLE IF EXISTS `tabel_user`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tabel_user` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `username` varchar(50) NOT NULL,
  `password` varchar(255) NOT NULL,
  `nama` varchar(100) NOT NULL,
  `role` varchar(50) NOT NULL,
  `status` char(1) DEFAULT 'A',
  `otp_code` varchar(10) DEFAULT NULL,
  `otp_expires_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `username` (`username`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tabel_user`
--

LOCK TABLES `tabel_user` WRITE;
/*!40000 ALTER TABLE `tabel_user` DISABLE KEYS */;
INSERT INTO `tabel_user` VALUES (1,'admin','$2y$10$q0Cfcw8oBSK6ymHCo6TkbuJniAUjRhiCLMMuJYnQtt1LULwdVlefm','Administrator Sistem','Admin','A',NULL,NULL),(5,'arismulyanto','$2y$10$Zvkm9G3j14sA/kMN63CSa.KH0y1XOq0ZfsLUE/Qt5.tyGFEs/8Dzu','Aris Mulyanto, S.Kep Ners','Perawat','A',NULL,NULL),(6,'newnurse1','$2y$10$10EAQFHSHp91F3O8n4FndOnndB3vkENRDBsRPgnX4ngRYuAIxvnlC','Test Nurse 1','Perawat','N',NULL,NULL);
/*!40000 ALTER TABLE `tabel_user` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-05-21 15:55:12
